In [ ]:
class Employee:
    pass

In [ ]:
emp_1 = Employee()

In [ ]:
emp_1

In [ ]:
emp_1.name = "Bob"

In [ ]:
emp_1.age = 45

In [ ]:
emp_2 = Employee()

In [ ]:
emp_2.name = "Harry"
emp_2.age = 55

In [ ]:
emp_1

In [ ]:
emp_2

In [ ]:
emp_1.name

In [ ]:
emp_2.name

In [ ]:
class Employee:
    
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [ ]:
emp_1 = Employee('Bob',45)

In [ ]:
emp_1

In [ ]:
emp_1.age

In [ ]:
emp_1.name

In [ ]:
emp_2 = Employee('Harry',55)

In [ ]:
print emp_2.age,emp_2.name

In [ ]:
class Employee:
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
        self.salary = 0
        
    def displayInfo(self):
        print("Name:",self.name)
        print("Age :",self.age)
        print("Salary:",self.salary)

In [ ]:
emp_1 = Employee("Bob",45)

In [ ]:
emp_1.displayInfo()

In [ ]:
emp_1.salary = 60000

In [ ]:
emp_1.displayInfo()

In [9]:
class Employee:
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
        self.__salary = 0
        
    def updateSalary(self,salary):
        
        if salary < 100000:
            self.__salary = salary
        else:
            print("Invalid salary amount")
        
    def displayInfo(self):
        print("Name:",self.name)
        print("Age :",self.age)
        print("Salary:",self.__salary)

In [10]:
emp_1 = Employee("Bob",45)

In [11]:
emp_1.displayInfo()

Name: Bob
Age : 45
Salary: 0

In [12]:
emp_1.updateSalary(50000)

In [13]:
emp_1.displayInfo()

Name: Bob
Age : 45
Salary: 50000

In [14]:
emp_1.__salary = 10000000

In [15]:
emp_1.displayInfo()

Name: Bob
Age : 45
Salary: 50000

In [19]:
class Employee:
    
    count = 0
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
        self.__salary = 0
        
        Employee.count += 1
        
    def updateSalary(self,salary):
        
        if salary < 100000:
            self.__salary = salary
        else:
            print("Invalid salary amount")
        
    def displayInfo(self):
        print("Name:",self.name)
        print("Age :",self.age)
        print("Salary:",self.__salary)

In [20]:
emp_1 = Employee("Bob",45)
emp_2 = Employee("Harry",55)

In [21]:
print(Employee.count)

2

## Operator Overloading

In [22]:
s = "Harry "
l = "Bob "

In [23]:
s+l

'Harry Bob '

In [54]:
class Number:
    
    def __init__(self,number):
        self.number = number
        
    def displayInfo(self):
        print("Number:",self.number)
        
    def __add__(self,rhs_number):
        
        return Number(self.number + rhs_number.number)
    
    def __len__(self):
        
        return len(str(self.number))
    
    def __str__(self):
        
        return("Number:" + str(self.number))

In [55]:
n1 = Number(35)

In [56]:
n1.displayInfo()

Number: 35

In [57]:
n2 = Number(55)

In [58]:
n3 = n1+n2

In [59]:
n3.displayInfo()

Number: 90

In [60]:
s = "Harry"

len(s)

5

In [61]:
len(n3)

2

In [62]:
print(n3)

Number:90

In [93]:
class Employee(object):
    
        count = 0
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
        self.__salary = 0
        
        Employee.count += 1
        
    def updateSalary(self,salary):
        
        if salary < 100000:
            self.__salary = salary
        else:
            print("Invalid salary amount")
        
    def displayInfo(self):
        print("Name:",self.name)
        print("Age :",self.age)
        print("Salary:",self.__salary)
        
    def __str__(self):
        
        info = "\nName:" + self.name
        info += "\nAge :" + str(self.age)
        info += "\nSalary:" + str(self.__salary)
        
        return info

In [102]:
class FullTimeEmployee(Employee):
    
    def __init__(self,name,age,tenured):
        
        self.tenured  = tenured
        
        super(FullTimeEmployee, self).__init__(name,age)
        
    def displayInfo(self):
        
        print(super(FullTimeEmployee,self).displayInfo())
        print("Tenured:",self.tenured)
        
    def __str__(self):
        
        info = super(FullTimeEmployee,self).__str__()
        
        totalInfo = info + ("\nTenured:" + str(self.tenured))
        
        return totalInfo

In [112]:
class PartTimeEmployee(Employee):
    
    def __init__(self,name,age,overtime_pay):
        
        self.overtime_pay  = overtime_pay
        
        super(PartTimeEmployee, self).__init__(name,age)
        
    def displayInfo(self):
        
        print(super(PartTimeEmployee,self).displayInfo())
        print("Overtime Pay:",self.overtime_pay)
        
    def __str__(self):
        
        info = super(PartTimeEmployee,self).__str__()
        
        totalInfo = info + ("\nOver Time Pay:" + str(self.overtime_pay))
        
        return totalInfo

In [113]:
emp_1 = FullTimeEmployee("Bob",45,True)
emp_2 = PartTimeEmployee("Harry",55,20000)

In [114]:
print(emp_1)

Name:Bob
Age :45
Salary:0
Tenured:True

In [115]:
print(emp_2)

Name:Harry
Age :55
Salary:0
Over Time Pay:20000

In [117]:
employees = [emp_1,emp_2]

for employee in employees:
    print(employee)

Name:Bob
Age :45
Salary:0
Tenured:True

Name:Harry
Age :55
Salary:0
Over Time Pay:20000

In [106]:
emp_1.displayInfo()

Name: Bob
Age : 45
Salary: 0
None
Tenured: True

In [98]:
print(emp_1)

Name:Bob
Age :45
Salary:0
Tenured:True

In [99]:
emp_1

In [100]:
emp_1.count

1

In [101]:
Employee.count

1